<div class="identity">
    <a href="https://www.instagram.com/drellli/" target="_blank"><i class="fab fa-instagram fa-3x" alt="Drelli on Instagram"></i></a>
    <a href="https://twitter.com/drellli" target="_blank"><i class="fab fa-twitter fa-3x" alt="Drelli on Twitter"></i></a>
    <a href="https://open.spotify.com/artist/6OO8a55KYiZw6WzH1npKd5?si=Ob8a7cbPSei2xQNOWqpZOg" target="_blank"><i class="fab fa-spotify fa-3x" alt="Drelli on Spotify"></i></a>
    <a href="https://music.apple.com/us/artist/drelli/1200545104" target="_blank"><i class="fab fa-itunes fa-3x" alt="Drelli on Apple Music"></i></a>
    <a href="https://www.youtube.com/channel/UCPWwCu8ko1UpuT2Ir4BW-RA" target="_blank"><i class="fab fa-youtube fa-3x" alt="Drelli on YouTube"></i></a>
    <a href="mailto:drellibye@gmail.com" target="_blank"><i class="far fa-envelope fa-3x" alt="Email Drelli"></i></a>
</div>
