$content-width: 800px;
$main: #19ccaa;
$font-style: 'Open Sans', sans-serif;
$paladins: 'Paladins Outline', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$paladins2: 'Paladins Gradient', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$kanye: "Helvetica_Condensed_Black", Helvetica Condensed Black, Helvetica Condensed, Arial, Helvetica Neue, Helvetica, sans-serif;
$hover-glow: 0 0 25px #ffc164;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;
$background-color: #f0581f;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Helvetica_Condensed_Black';
  src: url('../font/Helvetica_Condensed_Black.woff2');
}

@font-face {
  font-family: 'University of Nowhere Outline';
  src: url('../font/University_of_Nowhere-Outline.ttf');
}

@font-face {
  font-family: 'Paladins Outline';
  src: url('../font/PaladinsOutline.otf');
}

@font-face {
  font-family: 'Paladins Gradient';
  src: url('../font/PaladinsGradient.otf');
}

* {
  font-family: $kanye;
  color: #eeeeee;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  float: none;
}
