html {
  background-color: $background-color;
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0px #ffc164;
  }
  50% {
    text-shadow: 0 0 25px #ffc164;
  }
  100% {
    text-shadow: 0 0 0px #ffc164;
  }
}

.header-font {
  font-family: $paladins;
  color: #eeeeee;
  text-align: center;
  font-size: 15vw;
  margin: 10px;
  animation: glowing 1.5s infinite;
}

nav {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 2vw;
  a {
    font-size: 3.5vw;
    text-decoration: none;
    text-shadow: 2px 2px black;
    transition: 0.15s ease-in-out;
    &:hover {
      text-shadow: $hover-glow;
    }
  }
}

.identity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  i {
    font-size: 8vw;
    padding: 5px;
    transition: 0.15s ease-in-out;
    &:hover {
      text-shadow: $hover-glow;
    }
  }
}

.videos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  iframe {
    padding: 10px;
  }
}

.random-thoughts {
  padding: 20px;
  > * {
    text-align: center;
    font-size: 24px;
  }
}

.photos {
  display: flex;
  flex-direction: column;
  background-image: url('../img/image-4.jpg');
  background-size: contain;
  img {
    align-self: center;
  }
  // justify-content: center;
}

.mono {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
}
