html {
  background-color: $background-color;
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  /* animation: glowing 3s infinite; */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0px #ffc164;
  }
  50% {
    text-shadow: 0 0 25px #ffc164;
  }
  100% {
    text-shadow: 0 0 0px #ffc164;
  }
}

.header-font {
  font-family: "Paladins Outline", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #eeeeee;
  text-align: center;
  font-size: 15vw;
  letter-spacing: 15px;
  margin: 10px;
  animation: glowing 1.5s infinite;
}

.identity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  i {
    padding: 5px;
    transition: 0.15s ease-in-out;
    &:hover {
      text-shadow: 0 0 25px #ffc164;
    }
  }
}

nav {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 24px;
  a {
    font-size: 36px;
    text-decoration: none;
    -webkit-text-stroke: 2px rgb(143, 84, 16);
    transition: 0.15s ease-in-out;
    &:hover {
      text-shadow: 0 0 25px #ffc164;
    }
  }
}

.videos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  iframe {
    padding: 10px;
  }
}

.random-thoughts {
  padding: 20px;
  > * {
    text-align: center;
    font-size: 24px;
  }
}

.photos {

}

.mono {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
}
